{% extends 'base.html' %}

{% block body %}
  <div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <img src="{{ url_for('static', filename='images/logo.png') }}" class="bi me-2" width="32" height="32" alt="logo" />
        <span class="fs-4">DicMath</span>
      </a>
      <a href="/clear" class="btn btn-danger mx-2">Effacer la feuille</a>
      <a href="/export" class="btn btn-success">Exporter la feuille</a>
    </header>
  </div>

  {% for equation_number, equation in equations.items() %}
  <div class="container">
    <div class="d-grid pb-3">
      <button class="btn btn-outline-dark" disabled>Equation {{ equation_number }}</button>
    </div>
    {% for line_number, line in equation.items() %}
    <div class="row g-2 pb-3">
      <div class="circle mx-1">{{ line_number }}</div>
      {% for block_number, block in line.items() %}
      <div class="col">
        {% if block.data != '=' %}
        <input type="text" class="form-control" value="{{ block.data }}">
        {% else %}
        <input type="text" class="form-control" value="{{ block.data }}" disabled>
        {% endif %}
      </div>
      {% endfor %}
    </div>
    {% endfor %}
  </div>
  {% endfor %}

  <div class="container">
    <a href="/listen" class="btn btn-primary d-grid" autofocus>Commencer la dictée</a>
  </div>
{% endblock %}
