{% extends 'base.html' %}

{% block title %}DicMath{% endblock %}

{% block body %}
  <div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <img src="{{ url_for('static', filename='images/logo.png') }}" class="bi me-2" width="32" height="32" alt="logo" />
        <span class="fs-4">DicMath</span>
      </a>
    </header>
  </div>

  <div class="container">
    <form>
      <div class="row g-2 pb-3">
        <div class="col">
          <input type="text" class="form-control">
        </div>
      </div>
    </form>
  </div>
{% endblock %}
